@charset "utf-8"; 

button{
        background:hsla(0,0,89,50%);
        color:#fff;
        border:none;
        position:relative;
        height:50px;
        width:200px;
        font-size:20px;
        padding:10px;
        cursor:pointer;
        outline:none;
    text-align: left
}